/ {
	aliases {
		audio-i2s = &sai0;
		oled = &ssd1306;
	};

	buttons {
		compatible = "gpio-keys";

		button_up: button_up {
			label = "Button up";
			gpios = <&gpio4 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};

		button_down: button_down {
			label = "Button down";
			gpios = <&gpio4 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};

		button_left: button_left {
			label = "Button left";
			gpios = <&gpio4 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};

		button_right: button_right {
			label = "Button right";
			gpios = <&gpio4 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};

		button_enter: button_enter {
			label = "Button enter";
			gpios = <&gpio4 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};
};

&flexcomm3_lpspi3 {
	status = "okay";

	cs-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
		spi-max-frequency = <25000000>;
	};
};

&sai0 {
	status = "okay";
	pinctrl-0 = <&pinmux_sai0>;
	pinctrl-names = "default";
	mclk-output;
};

&flexcomm5_lpi2c5 {
	status = "okay";
	compatible = "nxp,lpi2c";
	clock-frequency = <I2C_BITRATE_FAST>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <128>;
		height = <32>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		prechargep = <0x22>;
		com-invdir;
		com-sequential;
		segment-remap;
	};
};
